* {
  box-sizing: border-box;
}

:root {
  --background-color: #000000;
  --rgb-background: 0,0,0;
  --text-color: #ffffff;
  --block-background: #181818;
  --button-background: rgb(229, 9, 20);
  --button-secondery-background: #ffffff;
  --border-color: rgba(128,128,128,0.7);
}

[data-theme='light'] {
  --background-color: #ffffff;
  --rgb-background: 255,255,255;
  --text-color: #000000;
  --block-background: #FAFAFA;
  --button-background: rgb(229, 9, 20);
  --button-secondery-background: #181818;
  --border-color: rgba(128,128,128,0.7);
}

@font-face {
  font-family: NetflixSans;
  font-weight: 300;
  src: url("../public/fonts/NetflixSans-Light.otf") format("opentype");
}

@font-face {
  font-family: NetflixSans;
  font-weight: 400;
  src: url("../public/fonts/NetflixSans-Regular.otf") format("opentype");
}

@font-face {
  font-family: NetflixSans;
  font-weight: 500;
  src: url("../public/fonts/NetflixSans-Medium.otf") format("opentype");
}

@font-face {
  font-family: NetflixSans;
  font-weight: 700;
  src: url("../public/fonts/NetflixSans-Bold.otf") format("opentype");
}

html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--background-color);
}

* {
  font-family: NetflixSans;
  color: var(--text-color);
}

.section__title {
  text-align: left;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header__wrapper {
  background: linear-gradient(
    180deg, rgba(var(--rgb-background), 0.8000) 0.000%,
     rgba(var(--rgb-background), 0.7889) 8.333%, 
     rgba(var(--rgb-background), 0.7556) 16.67%
     rgba(var(--rgb-background), 0.7000) 25.00%,
      rgba(var(--rgb-background), 0.6222) 33.33%,
       rgba(var(--rgb-background), 0.5222) 41.67%,
        rgba(var(--rgb-background), 0.4000) 50.00%,
         rgba(var(--rgb-background), 0.2778) 58.33%,
          rgba(var(--rgb-background), 0.1778) 66.67%,
           rgba(var(--rgb-background), 0.1000) 75.00%,
            rgba(var(--rgb-background), 0.04444) 83.33%,
             rgba(var(--rgb-background), 0.01111) 91.67%,
              rgba(var(--rgb-background), 0.000) 100.0%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 25px 0;
  z-index: 4;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 25px;
}

.button {
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  background: var(--button-background);
  border: none;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s all ease;
}

.button:hover {
  opacity: 0.5;
}

.full__button {
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo img {
  width: 150px;
}

.header__button {
  font-size: 0.875rem;
}

.hero__wrapper, .sign__container {
  background-image: url('../public/assets/hero_bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 60vh;
  position: relative;
}

.hero__wrapper::before, .sign__container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(12deg, rgba(var(--rgb-background), 0.8500) 36.00%, rgba(var(--rgb-background), 0.8465) 40.58%, rgba(var(--rgb-background), 0.8361) 45.17%, rgba(var(--rgb-background), 0.8187) 49.75%, rgba(var(--rgb-background), 0.7944) 54.33%, rgba(var(--rgb-background), 0.7632) 58.92%, rgba(var(--rgb-background), 0.7250) 63.50%, rgba(var(--rgb-background), 0.6868) 68.08%, rgba(var(--rgb-background), 0.6556) 72.67%, rgba(var(--rgb-background), 0.6313) 77.25%, rgba(var(--rgb-background), 0.6139) 81.83%, rgba(var(--rgb-background), 0.6035) 86.42%, rgba(var(--rgb-background), 0.6000) 91.00%);
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #ffffff;
  z-index: 2;
  position: relative;
}

.hero__content {
  max-width: 500px;
}

.hero__content h1 {
  font-size: 3.4rem;
  margin: 0;
}

.hero__content p {
  font-size: 1.2rem;
}

.hero__button {
  font-size: 1.4rem;
  padding: 15px 20px;
  margin-top: 20px;
  display: inline-block;
}

.hero__seperator {
  position: relative;
}

.hero__seperator::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin-top: -.25rem;
  border-radius: inherit;
  background: linear-gradient(to right, rgba(33, 13, 22, 1) 16%, rgba(184, 40, 105, 1), rgba(229, 9, 20, 1), rgba(184, 40, 105, 1), rgba(33, 13, 22, 1) 84%);
}

.benefits__wrapper {
  margin: 50px 0;
}

.benefits__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  text-align: left;
}

.benefits__grid__item {
  background: linear-gradient(149deg, #192247 0%, #210e17 99.08%);
  border-radius: 1rem;
  padding: 25px;
  position: relative;
  min-height: 300px;
}

.benefits__grid__item h3 {
  margin-top: 0;
}


.benefits__grid__item img {
  position: absolute;
  right: 15px;
  bottom: 15px;
}

.faq__block {
  margin-bottom: 8px;
}
.faq__question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background: var(--block-background);
  font-size: 1.6rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s all ease;
}

.faq__question:hover {
  background: var(--background-color);
}

.faq__question span {
  font-size: 3rem;
  line-height: 1;
  margin-top: -10px;
  transition: 0.3s all ease;
}

.faq__answer {
  opacity: 0;
  visibility: hidden;
  max-height: 0;
  background: var(--block-background);
  border-top: 1px solid var(--background-color);
  color: #ffffff;
  font-size: 1.6rem;
  transition: 0.3s all ease;
}

.faq__block.is-open .faq__answer {
  opacity: 1;
  visibility: visible;
  max-height: 2000px;
  padding: 15px;
  text-align: left;
}

.faq__block.is-open .faq__question span {
  transform: rotate(45deg);
}

.footer__wrapper {
  background-image: linear-gradient(rgba(var(--rgb-background),0.7) 0%, var(--background-color) 20%);
}

.footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin: 75px auto;
}

.footer__link {
  color: var(--text-color);
  text-align: left;
}

.sign__container {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign__container::before {
  background: rgba(var(--rgb-background), 0.4);
}

.form__container {
  background: rgba(0,0,0,0.7);
  border-radius: 4px;
  padding: 30px 50px;
  position: relative;
  z-index: 2;
  min-width: 450px;
}

.form__container h1 {
  text-align: left;
  font-weight: 500;
  margin-top: 0;
}

.form__container input, .form__container textarea, .form__container select {
  display: block;
  width: 100%;
  background: transparent;
  border: 1px solid var(--border-color);
  border-radius: 0.25rem;
  padding: 16px;
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: 15px;
}

.form__container select {
  appearance: none;
}

.form__container label {
  text-align: left;
  display: block;
  margin-bottom: 10px;
  font-weight: 500;
}

.form__container input::placeholder {
  color: #ffffffA4;
}

.form__container .button {
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: 10px;
  cursor: pointer;
}

.form__error {
  display: block;
  margin-top: 10px;
  background-color: rgba(229, 9, 20, .7);
  border: 1px solid var(--text-color);
  padding: 10px;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid var(--text-color);
  border-radius: 50%;
  display: block;
  box-sizing: border-box;
  position: relative;
  animation: pulse 1s linear infinite;
  margin: auto;
}
.loader:after {
  content: '';
  position: absolute;
  width: 48px;
  height: 48px;
  border: 5px solid var(--text-color);
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: scaleUp 1s linear infinite;
}

@keyframes scaleUp {
  0% { transform: translate(-50%, -50%) scale(0) }
  60% , 100% { transform: translate(-50%, -50%)  scale(1)}
}
@keyframes pulse {
  0% , 60% , 100%{ transform:  scale(1) }
  80% { transform:  scale(1.2)}
}

.loading__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
}

.movieHero__wrapper {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  min-height: 50vh;
  width: 100%;
  text-align: left;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  padding-bottom: 5rem;
  position: relative;
}

.movieHero__wrapper::before {
  content: '';
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(var(--rgb-background),0) 0%, rgba(var(--rgb-background),.5), rgba(var(--rgb-background),1) 100%);
  position: absolute;
  top: 0;
  left: 0;
}

.movieHero__content {
  width: 100%;
  position: relative;
  z-index: 2;
}

.movieHero__content h1 {
  margin-bottom: 15px;
}

.movieHero__content p {
  max-width: 500px;
  margin: 0;
  margin-bottom: 35px;
}

.movieHero__content .button {
  background: var(--text-color);
  color: var(--background-color);
}

.slider {
  display: flex;
  gap: 15px;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch; 
  scroll-behavior: smooth; 
  width: 100%; 
  overflow-x: scroll;
}

.slide {
  flex: 0 0 20%; 
  scroll-snap-align: start; 
  width: 100%; 
  position: relative;
  box-sizing: border-box; 
}

.slide img {
  width: 100%; 
  height: 150px;
  object-fit: cover;
  object-position: center;
  display: block; 
}

.movie__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 3;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.6);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s all ease;
}

.movie__buttons .button {
  background: var(--text-color);
  display: flex;
  padding: 0;
  border-radius: 100%;
}

.button.button__secondery {
  background: var(--block-background);
}

.movie__buttons .button svg {
  width: 42px;
  height: 42px;
  fill: var(--background-color);
}

.button.button__secondery svg {
  fill: var(--text-color);
}

.movie__card {
  overflow: hidden;
  transition: 0.3s all ease;
}

.movie__card:hover > img{
  transform: scale(1.2);
}
.movie__card:hover .movie__buttons {
  opacity: 1;
  visibility: visible;
}

.fullLoading__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: #181818;
}

.movie__modal {
  background: var(--block-background);
  position: relative;
}

.close__modal {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 1.6rem;
  background: var(--block-background);
  border: 1px solid var(--text-color);
  border-radius: 100%;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  cursor: pointer;
  transition: 0.3s all ease;
}

.movie__modal .movieHero__wrapper::before {
  background: linear-gradient(rgba(24,24,24,0) 0%, rgba(24,24,24,.5) 80%, rgba(24,24,24,1) 100%)
}

.recommendMovies__wrapper {
  padding: 25px;
}

.recommendMovies__wrapper .loading__wrapper {
  min-height: 41vh;
}

.video__container {
  position: relative;
  width: 100%;
  margin: auto;
}

.video__player {
  width: 100%;
  height: auto;
}

.video__controls {
  position: absolute;
  bottom: 0;
  background: rgba(var(--rgb-background), 0.5);
  color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  padding: 15px;
}

.video__controls button,
.video__controls input {
  background: none;
  border: none;
  color: white;
}

.video__controls svg {
  fill: #ffffff;
}

.video__controls span {
  flex-shrink: 0;
}

.close__video {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 1.6rem;
  background: var(--block-background);
  border: 1px solid var(--text-color);
  border-radius: 100%;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  transition: 0.3s all ease;
}

.video__container:hover .close__video {
  opacity: 1;
  visibility: visible;
  z-index: 2;
}

.video__volume {
  max-width: 70px;
}

.userImage {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  object-fit: cover;
}

.header__buttons {
  display: flex;
  align-items: center;
  gap: 30px;
}

.navbar {
  display: flex;
  gap: 15px;
}

.navbar__link {
  text-decoration: none;
}

.input__field {
  position: relative;
}

.input__field .search {
  background: var(--background-color);
  border: 1px solid var(--text-color);
  color: var(--text-color);
  padding: 10px 0 10px 40px;
}

.input__field svg {
  width: 22px;
  height: 22px;
  fill: var(--text-color);
  position: absolute;
  left: 8px;
  top: 8px
}

.category__wrapper {
  margin-bottom: 2.5rem;
}

.searchModal {
  position: absolute;
  width: 100%;
  height: 100vh;
  padding: 150px 25px 0;
  background: var(--background-color);
  z-index: 3;
}

.search__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.background__video {
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.admin__page {
  margin-top: 120px;
  margin-bottom: 50px;
}

.admin__block {
  border: 0.0625rem solid var(--border-color);
  background: #181818;
  border-radius: 10px;
  padding: 20px;
}

.adminModal__wrapper {
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,.5);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.admin__modal {
  background: #181818;
  min-width: 500px;
  border: 0.0625rem solid var(--border-color);
  border-radius: 10px;
  position: relative;
  padding: 25px;
}

.adminBlock__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.admin__modal .close__modal {
  font-size: 1rem;
  width: 30px;
  height: 30px;
}

.adminModal__header {
  border-bottom:  0.0625rem solid var(--border-color);
  padding-bottom: 25px;
  text-align: center;
}

.adminModal__header h2 {
  margin: 0;
}

.admin__form {
  margin-top: 25px;
  background: transparent;
  padding: 0;
}

.form__input {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.admin__form .form__input label {
  flex-shrink: 0;
}

.admin__form .form__input input {
  width: auto;
}

.adminBlock__row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  gap: 15px;
  padding: 15px;
  border-bottom: 0.0625rem solid var(--border-color);
}

.adminBlock__row:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.adminBlock__row svg {
  fill: #ffffff;
  width: 20px;
  height: 20px;
}

.adminTable__headers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  font-weight: 700;
  border-bottom: 0.0625rem solid var(--border-color);
  padding-bottom: 15px;
  font-size: 1.2rem;
}

.adminRow__buttons {
  display: flex;
  gap: 10px;
}

.movies__block .adminTable__headers {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.movies__block .adminBlock__row {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

/* Base styles for the switch */
.switch {
  position: relative;
  display: inline-block;
  width: 52px;  /* Width of the switch */
  height: 32px; /* Height of the switch */
}

/* Style for the slider */
.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #141414;
  transition: .4s;
  border-radius: 34px; /* Rounded borders for the slider */
}

/* Style for the slider before being checked */
.switch .slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%; /* Circular effect for the slide knob */
}

/* Color changes when the switch is checked */
.switch input:checked + .slider {
  background-color: #f9f9f9;
}

/* Move the slide knob to the right when checked */
.switch input:checked + .slider:before {
  transform: translateX(20px);
}

/* Optional: Adds a box shadow to the slider knob */
.slider:before {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

/* Style to hide the default checkbox */
.switch input {
  display: none;
}
